<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/Product.css">
   <link rel="stylesheet" href="/css/forms.css">
    
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{#if hasProducts}}
        <div class="_grid">     
            {{#each prods}}
            <article class="card product-item">
                <header class="card_header">
                    <h1 class="product_title">{{this.title}}</h1>
                </header>
                <div class="card_image">
                    <img src="https://media.istockphoto.com/id/814423752/photo/eye-of-model-with-colorful-art-make-up-close-up.jpg?s=612x612&w=0&k=20&c=l15OdMWjgCKycMMShP8UK94ELVlEGvt7GmB_esHWPYE=" alt="">
                </div>
                <div class="card_content">
                    <h2 class="product_price">300</h2>
                    <p class="product_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta commodi sit iure dolor temporibus officiis. Optio numquam, exercitationem ipsum odio quo maxime officia asperiores. Laboriosam temporibus hic dolorum sequi fugit.</p>
                </div>
                <div class="card_action">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
            {{/each}}
        </div>
        {{else }}
        <h1>No Products</h1>
        {{/if}}
    </main>
</body>

</html>